services:
  dev:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
      args:
        UID: ${UID}
        GID: ${GID}
        UNAME: ${UNAME}
    image: gtm_exp:${UNAME}
    container_name: dev_${UNAME}
    network_mode: host
    environment:
      TERM: ${TERM}
      DISPLAY: ${DISPLAY}
    volumes:
      - ../:/workspace
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
